<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	<head>
		<title>{{ site.title }}</title>
  		<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
	</head>
	<body>
	
		<header class="rainshower-header">
			<h1 class="rainshower-site-title">{{ site.title }}</h1>
			<nav class="rainshower-site-nav">
				<ul class="rainshower-site-nav-list">
					{% for lpage in site.pages %}
						{% if lpage.title %}
							<li class="rainshower-site-nav-list-item">
								<a class="rainshower-site-nav-list-link" href="{{ lpage.url }}">{{ lpage.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>
		</header>
	
		<main class="rainshower-main" aria-label="Content">