{% if next_url == undefined %}
	{% assign next_url = page.next.url %}
{% endif %}

<nav class="rainshower-sequence-links">
	<ul class="rainshower-sequence-links-list">
		{% if page.previous.url %}
			<li class="rainshower-sequence-links-list-item">
				<a class="rainshower-sequence-links-list-link" href="{{ page.previous.url }}">&larr; Previous</a>
			</li>
		{% endif %}
		{% if next_url %}
			<li class="rainshower-sequence-links-list-item">
				<a class="rainshower-sequence-links-list-link" href="{{ next_url }}">Next &rarr;</a>
			</li>
		{% endif %}
	</ul>
</nav>